<template>
  <div>
    <menu-sidebar/>
    <menu-toggle/>
  </div>
</template>

<script>
import MenuSidebar from './MenuSidebar.vue'
import MenuToggle from './MenuToggle.vue'
export default {
  components: { MenuSidebar, MenuToggle },
    name: 'MenuBase',

}
</script>

<style>

</style>