<template>
  <div id="menu-toggle" @click="menuToggleClick()"></div>
</template>

<script>
export default {
    name: 'MenuToggle',
    methods: {
        menuToggleClick(){
            const toggle = document.getElementById('menu-toggle')
            toggle.classList.toggle('active')

            const sidebar = document.getElementById('menu-sidebar')
            sidebar.classList.toggle('active')
        }
    },
}
</script>

<style scoped>
#menu-toggle{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #03e9f4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu-toggle::before{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}
#menu-toggle::after{
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background-color: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}
#menu-toggle.active::before{
    transform: translateY(0) rotate(45deg);
}
#menu-toggle.active::after{
    transform: translateY(0) rotate(-45deg);
}

</style>