<template>
  <div id="menu-sidebar">
      <ul>
          <li>
              <a>Home</a>
          </li>
          <li>
              <a>Evolución de precios</a>
          </li>
          <li>
              <a>Disponibilidad</a>
          </li>
          <li>
              <a>Cerrar sesión</a>
          </li>
      </ul>
  </div>
</template>

<script>
export default {
    name: 'MenuSidebar',
    methods: {

    },
}
</script>

<style>
#menu-sidebar{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: #003147;
    transition: 0.5s;
}
#menu-sidebar.active{
    left: 0px;
}
#menu-sidebar ul{
    position: relative;
    margin-top: 50px;
}
#menu-sidebar ul li{
    list-style: none;
    display: inline-block;
    width: 100%;
    padding: 10px 40px;
}
#menu-sidebar ul li:hover{
    background-color: #03a9f4;
}
#menu-sidebar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 2px;
}
</style>